@tailwind base;
@tailwind components;
@tailwind utilities;





/*
Globalna barva spletne strani (vkljucena v CSS)
je = #03989E
*/

.bg-color{
    --tw-bg-opacity: 1;
    background-color: rgb(3 152 158 / var(--tw-bg-opacity));
}


/*Footer background color*/
.bg-footer{
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

@layer components{
    .text-color{
        --tw-color-opacity: 1;
        color: rgb(3 152 158 / var(--tw-color-opacity));
    }
}




/*
Navbar
*/
.button-nav{
    @apply lg:text-black lg:hover:text-color text-gray-800 px-3 py-4 lg:py-2 flex items-center uppercase font-bold transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300;
}

.button-nav-active{
    @apply lg:text-color lg:hover:text-color text-gray-800 px-3 py-4 lg:py-2 flex items-center uppercase font-bold transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300 underline;
}


/*
Foto
*/
.animacija{
    @apply transition ease-in-out  hover:-translate-y-1 hover:scale-110 duration-300;
}


/*Footer animation typewriter*/
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }








/*
Projects
*/





/*
Contact page
*/
.icon-color{
    --tw-color-opacity: 1;
    color: rgb(136 136 136 / var(--tw-color-opacity));
}




/*
image
*/
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

